.woodburning {
  display: flex;
  flex-direction: column;
  @include breakpoint-up(large) {
    margin: 3rem 0;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  &__description {
    margin: 1.5rem auto 0;
    padding: 0.5rem;
    width: 80%;
    background-color: $pink;
    @include breakpoint-up(large) {
      width: 45%;
    }
  }
  &__gallery {
    margin: 0 auto;
    padding: 0.5rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint-up(medium) {
      justify-content: center;
    }
    @include breakpoint-up(large) {
      width: 25%;
    }
    &__arrow {
      width: 2.5rem;
      cursor: pointer;
      @include breakpoint-up(medium) {
        margin: 1rem;
      }
    }
    &__img__container {
      position: relative;
      width: 11rem;
      height: 11rem;
      cursor: pointer;
      > * {
        position: absolute;
        width: $keychainSize;
        height: $keychainSize;
        @include breakpoint-up(large) {
        }
      }
    }
  }
}

.top {
  width: inherit;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  animation-name: flip-top;
  animation-timing-function: linear;
  animation-duration: 0.3s;
}

.bottom {
  width: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  animation-name: flip-bottom;
  animation-timing-function: linear;
  animation-duration: 0.3s;
}
