/* keychain size */
$keychainSize: 11rem;

.woodburning {
  &__description {
    margin: 0 auto;
    width: 80%;
    background-color: $pink;
  }
  &__gallery {
    margin: 0 auto;
    padding: 0.5rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__arrow {
      width: 2.5rem;
    }
    &__img__container {
      width: 11rem;
      height: 11rem;
      cursor: pointer;
      > * {
        position: absolute;
        width: $keychainSize;
        height: $keychainSize;
      }
    }
  }
}

.top {
  width: inherit;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  animation-name: flip-top;
  animation-timing-function: linear;
  animation-duration: 0.3s;
}

.bottom {
  width: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  animation-name: flip-bottom;
  animation-timing-function: linear;
  animation-duration: 0.3s;
}

@keyframes flip-bottom {
  0% {
    background-color: $coinside;
    width: $keychainSize;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 0 $coinside;
  }
  49% {
    background-color: $coinside;
    width: 10px;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 10px 0 $coinside;
  }
  50% {
    background-color: $coinside;
    width: 10px;
    z-index: -1;
    border-radius: 50%;
    box-shadow: 10px 0 $coinside;
  }
  100% {
    background-color: $coinside;
    width: 10px;
    width: 0px;
    z-index: -1;
    border-radius: 50%;
    box-shadow: 10px 0 $coinside;
  }
}

@keyframes flip-top {
  0% {
    background-color: $coinside;
    width: 10px;
    z-index: -1;
    border-radius: 50%;
    box-shadow: -10px 0 $coinside;
  }
  49% {
    background-color: $coinside;
    width: 10px;
    z-index: -1;
    border-radius: 50%;
    box-shadow: -10px 0 $coinside;
  }
  50% {
    background-color: $coinside;
    width: 10px;
    z-index: 1;
    border-radius: 50%;
    ox-shadow: -10px 0 $coinside;
  }
  100% {
    background-color: $coinside;
    width: $keychainSize;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 0 $coinside;
  }
}
