.digital__wrapper {
  width: 90%;
}

.digital__title {
  margin: 1em;
  text-align: center;
  color: $black;
  font-weight: 500;
}

.digital__section {
  margin: 0 auto;
  padding: 1em 0.5em 3em;
  text-align: center;
  width: 45%;
  background-color: $pink;
  color: $black;
  @include breakpoint-up(large) {
    width: 45%;
    height: 90%;
  }
  &__title {
    margin: 0.5em 0;
    font-size: $font-xl;
    font-weight: 400;
  }
  &__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__item {
      margin: 8px 8px;
      display: inline-block;
      cursor: pointer;
      height: 160px;
      @include breakpoint-up(large) {
        height: 120px;
        width: auto;
      }
    }
    &__item img {
      height: inherit;
    }
  }
}

.digital__gallery__popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#ffc29ccd, #474350d3);
  &__close {
    display: flex;
    justify-content: flex-end;
    &__img {
      margin-right: 15px;
      height: 50px;
      cursor: pointer;
    }
  }
  &__nav {
    align-items: center;
    height: 90%;
  }
  &__arrow {
    &--left {
      position: absolute;
      top: 50%;
      height: 50px;
      cursor: pointer;
      left: 2%;
    }
    &--right {
      position: absolute;
      top: 50%;
      height: 50px;
      cursor: pointer;
      right: 2%;
    }
  }
  &__image {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
  }
}

.hide {
  transform: translateY(100vh);
}

.back {
  margin: 2em;
  display: flex;
  justify-content: center;
}
