.features{
    .feature__item{
        @include breakpoint-up(large){
            margin: 0 auto;
        width: 80%;
        flex-direction: row;
        text-align: left;
        &:nth-child(2){
            flex-direction: row-reverse;
            text-align: right;
        }
        }
        flex-direction: column;
        text-align: center;
        .feature__item__image{
            width:15rem;
            height: 15rem;
            border-radius: 50%;
            background-position: center; 
            background-size: contain;  
            background-repeat: no-repeat;
        }
        .feature__item__about{
            color:$black;
            h2{
                font-size: $font-xl;
                font-weight: 300;
            }
        }
        

        }
}

.digital{
    background-image: url('../images/features/digital1.jpg');
}
.crafts{
    background-image: url('../images/features/crafts1.jpg');
}