
html{
    font-size: 100%;
    box-sizing: border-box;
    font-size:1rem;
    line-height: 1.3;
}

*,*::before, *::after{
  box-sizing: inherit;  
}

//spacing
.container{
  padding: 1.0625rem 1.5rem;
}

body{
    margin:0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
   &.noscroll{
    overflow: hidden;
   }
}

.wrapper{
  background: $background-gradient;
  width: auto;
}

a,a:visited,a:hover{
  text-decoration: none;
}

//Flexbox
.flex{
display: flex;

&-fd-c{
  flex-direction: column;
}

&-jc-sb{
  justify-content: space-between;
}
&-jc-c{
  justify-content: center;
}

&-ai-c{
  align-items: center;
}
}

//Button

button, .button{
  background-color: $white;
  color:$black;
  border-radius: 25px;
  border:none;
  padding:1rem 1.875rem;
  font-size:$font-med;
  font-weight: 600;
  cursor:pointer;
}

//Visibility

.hide-for-mobile{
  //hide for tablet and mobile
@include breakpoint-down(medium){
  display: none;
}
}

.hide-for-desktop{
  //hide for desktop
  @include breakpoint-up(large){
    display: none;
  }
}
