.header{
    background-color: $white;
    nav {
        padding:20px;
        height: calc(2 * $font-xl);
    }

    &__title{
        display: block;
        font-family: $handwrite;
        font-size: $font-xl;
        color:$black;
    }

    &__menu{ //menu mobile
        > span {
            display:block;
            width:26px;
            height:2px;
            background-color: $black;

            &:not(:last-child){
                margin-bottom: 3px;
            }

        }
    }
    
    &__links{

        a {
            font-size:$font-sm;
            color:$black;
            &:not(:last-child){
                margin-right: 32px;
            }
           }
        a:hover{
            color:$burgund;
        }
        }


}

// desktop

@include breakpoint-up(large){
    .header{
        &__title{
            font-size: $font-xxl;
        }
        
        &__links{
    
            a {
                font-size:$font-med;
            }
    
    
    }
  }
}



