.price {
  background-color: $white;
  color: $black;
  box-shadow: 2px 2px 2px 2px $black;
  margin: 1rem auto 2rem;
  width: 90%;
  border-radius: 1em;
  padding: 1rem;
  &__header {
    text-align: center;
    margin-top: 1rem;
    font-size: $font-xl;
    font-weight: 400;
  }
  &__style {
    background-repeat: no-repeat;
    background-size: cover;
    &:first-child {
      background-image: url("../images/digital/pricelist/type_sketch.png");
    }
    &:nth-child(2) {
      background-image: url("../images/digital/pricelist/type_clean.png");
    }
    &:last-child {
      background-image: url("../images/digital/pricelist/type_polished.jpg");
    }
  }
  &__character {
    background-repeat: no-repeat;
    background-size: cover;
    &:first-child {
      background-image: url("../images/digital/pricelist/character_headshot.png");
    }
    &:nth-child(2) {
      background-image: url("../images/digital/pricelist/character_halfbody.png");
    }
    &:last-child {
      background-image: url("../images/digital/pricelist/character_fullbody.png");
    }
  }
}

.select {
  border: 3px solid $darkpink;
}

.image {
  cursor: pointer;
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px $black;
  transition: ease-in-out 0.2s;
}

.price > h1 {
  font-size: $font-lg;
}

.price > h3 {
  text-align: center;
  font-size: $font-xl;
  font-weight: 400;
}

.price__value {
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}

//desktop

@include breakpoint-up(large) {
  .price {
    width: 50%;
  }

  .image {
    width: 150px;
    height: 150px;
  }

  .price > h3 {
    font-size: $font-med;
  }
}

@include breakpoint-up(xlarge) {
  .price {
    width: 50%;
  }

  .image {
    width: 150px;
    height: 150px;
  }
}
