.price {
  margin: 0 auto;
  background-color: $white;
  color: $black;
  width: 100%;
  padding: 1rem;
  text-align: center;
  @include breakpoint-up(large) {
    padding: 0.5rem;
  }
  &__header {
    margin-top: 1rem;
    font-size: $font-xl;
    font-weight: 400;
  }
  &__style {
    background-repeat: no-repeat;
    background-size: cover;
    &:first-child {
      background-image: url("../images/digital/pricelist/type_sketch.png");
    }
    &:nth-child(2) {
      background-image: url("../images/digital/pricelist/type_clean.png");
    }
    &:last-child {
      background-image: url("../images/digital/pricelist/type_polished.jpg");
    }
  }
  &__character {
    background-repeat: no-repeat;
    background-size: cover;
    &:first-child {
      background-image: url("../images/digital/pricelist/character_headshot.png");
    }
    &:nth-child(2) {
      background-image: url("../images/digital/pricelist/character_halfbody.png");
    }
    &:last-child {
      background-image: url("../images/digital/pricelist/character_fullbody.png");
    }
  }
}

.select {
  border: 3px solid $darkpink;
}

.image {
  cursor: pointer;
  display: block;
  width: 90px;
  height: 90px;
  box-shadow: 1px 1px 1px 1px $black;
  transition: ease-in-out 0.2s;
  @include breakpoint-up(large) {
    width: 80px;
    height: 80px;
  }
}

.price > h1 {
  margin: 0.5rem;
  font-size: $font-lg;
}

.price > h3 {
  margin: 0.5rem;
  font-size: $font-xl;
  font-weight: 400;
  @include breakpoint-up(large) {
    font-size: $font-med;
  }
}

.price__value {
  margin: 0.5rem auto;
  width: 50%;
  background-color: $lightpink;
  text-align: center;
  box-shadow: 1px 1px 1px 1px $black;
}
