html {
  scroll-behavior: smooth;
}
.tos__wrapper {
  margin: 4%;
  text-align: center;
}
tos__subtitle {
  font-size: $font-xl;
}
ul {
  list-style: none;
  padding-left: 0;
  text-align: left;
  font-size: $font-lg;
}

.digital__gallery__popup__arrow--down {
  position: fixed;
  height: 50px;
  bottom: 2%;
  right: 2%;
}
