/* colors */

$white: #F7FFF7;
$oragne: #FFC29C;
$lightpink:#FB8985;
$pink:#FC666F;
$darkpink:#B83253;
$burgund:#651B40;
$black:#474350;

/* header font */

$handwrite:'Grechen Fuemen', cursive;

/* font sizes */